<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>
<body>

  <div class="navbar">
    <h1>Spoofer &copy</h1>
  </div>


<div class="main">

<img src="img/profile-male.png" alt="No image found...">
<h1>Joe Bloggs</h1>
<ul>
  <li>I am straight</li>
  <li>I am a Christian</li>
  <li>I am a motoring enthusiast</li>
  <li>I am married</li>
  <li>I have an undergraduate degree</li>
</ul>

</div>

</body>
</html>
