<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="img/logos/LOGO.png">
  <title>Spoofer</title>
</head>
<body>

  <div class="navbar">
    <a href="/"><img src="img/logos/Spoofer-Logo.png" alt=""></a>
  </div>


<div class="main">

<!-- <img src="img/profile-male.png" alt="No image found..."> -->
<h1>Joe Bloggs</h1>
<ul>

  <label class="container">
  I am older than 18 &nbsp<input class="checkbox" type="checkbox">
  </label>
  <label class="container">
  I am older than 18 &nbsp<input class="checkbox" type="checkbox">
  </label>

  <label class="container">
  I am a university student &nbsp<input class="checkbox" type="checkbox">
  </label>

  <label class="container">
  I like to play football &nbsp<input class="checkbox" type="checkbox">
  </label>

  <label class="container">
  I have an interest in airplanes &nbsp<input class="checkbox" type="checkbox">
  </label>



</ul>

</div>
<script src="js/main.js"></script>
</body>
</html>
