@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700i|Open+Sans:400,800i|Ubuntu');

body{
  margin:0;
  background:#97c6ff;
}

@keyframes dropIn {
    100%{
      top:0;
      opacity: 1;
    }
  }

p{
  text-align: center;
  font-family: Ubuntu;
}

button{
  width:35%;
  margin:0 32.5%;
  height: 40px;
  border: none;
  color:white;
  font-family: "Ubuntu";
  background: #2c82ff;
  border-radius: 20px;
  font-size:22px;
  opacity: 0.85;
  margin-top: 45px;
}

button:hover{
  cursor:pointer;
  opacity: 1;
}


.navbar{
  box-shadow: 0px 0px 10px -1px black;
  position: fixed;
  top:0;
  width:100%;
  height: 50px;
  background:linear-gradient(to right, #87ff76, #6CEDFA);
}

.navbar a img{
  width:50px;
  margin: 0 47.5%;
  height:50px;
}

.navbar h1{
  margin-top:3px;
  color: white;
  font-family:"Raleway";
  text-align: center;
  font-size: 2.8vw;
  color:#2c82ff;
  }

.main{
  animation: dropIn 1s ease-in-out 0s 1 forwards;
  -moz-transition: all 1s ease-in;
    /* WebKit */
  -webkit-transition: all 1s ease-in;
    /* Opera */
  -o-transition: all 1s ease-in;
    /* Standard */
  transition: all 1s ease-in;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px;
  box-shadow: 0px 0px 15px -3px;
  background:#87ff76;
  background:linear-gradient(to right, #87ff76, #6CEDFA);
  position: absolute;
  margin: auto;
  opacity: 0;
  top:-180%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 42%;
  height: 460px;
}

.main h1{
  font-size: 4.4vw;
  text-align: center;
  font-family: "Josefin Sans";
  padding:0;
  width:50%;
  opacity: 0.6;
  margin: 30px 25%;
}

.main ul{
  padding: 2%;
}

.main img{
  width:20%;
  margin: 1% 40%;

}

.main ul li{
  font-size:1.5vw;
  padding:1%;
  margin: 1% 25%;
  font-family:"Raleway";
  background:#d3d3d3;
  width:50%;
  list-style-type: none;
  text-align: center;
}

label.container{
  display: block;
  text-align: center;
  margin:10px auto;
  font-family: "Raleway";
  background: none;
  border:4px solid white;
  border-radius:15px;

  box-shadow:0px 0px 10px -3px black;
}

@media only screen and (max-width: 1200px) {

  .main ul {
    margin-top:45px;
  }
}

@media only screen and (max-width: 900px) {

  .main ul {
    margin-top:45px;
  }
}

@media only screen and (max-width: 780px) {

}

@media only screen and (max-width: 660px) {

    .navbar h1{
      font-size: 6.5vw;
      margin-top: 0%;
    }

    .main{
      width:80%;
      height:60%;
    }
}

@media only screen and (max-width:550px){
  .main{
    height: 75%;
    width:80%;
  }

  .main img{
    width:50%;
    margin: 1% 25%;
  }
}

@media only screen and (max-width:450px){
  .main{
    height: 450px;
    width:75%
  }

  .main h1{
    margin-bottom: -20px;
  }

  .main ul{
    margin-top: 30px;
  }

}

@media only screen and (max-width:350px){
  .main{
    height: 370px;
    width:80%;
  }

  .main img{
    width:50%;
    margin: 1% 25%;
  }

  .main ul{
    margin-top:30px;
  }

  .navbar h1{
    margin-top:5%;
  }
}
